@import url('https://fonts.googleapis.com/css3?family=Reddit+Sans:ital,wght@0,300..900;1,300..900&display=swap');*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Sans", sans-serif;

}
body{
   transition: all .3s linear;
}
.navbar
{
    background-color: rgba(0, 0, 0, 0.586) !important;
    backdrop-filter: blur(8px)  !important;
    color: rgb(255, 255, 255) !important;

}
.navbar-toggler 
{
    border:  2px solid white !important;
    color: transparent !important;
}
.main3
{
    width: 100%;
    /* height: 100vh; */
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container
{
    width:80rem ;
    height: 12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    flex-wrap: wrap;
}
.boxcode
{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 8px;
}


.active
{
    color: aqua !important;
    transition: all .3s linear !important;
    border: 2px solid aqua !important;
    border-radius: 40px;
    font-weight: 600 !important;
    color: aqua !important;
    font-size: 20px !important; 
    background-color: rgba(0, 255, 255, 0.664) !important;
}
.nav-link
{
    color: aqua !important;
    transition: all .3s linear !important;
    border: 2px dotted aqua !important;
    border-radius: 40px;
    font-weight: 600 !important;
    color: aqua !important;
    font-size: 20px !important;
}
.nav-link:hover
{
    background-color: rgba(0, 255, 255, 0.664) !important;
    color:  white !important;
}
.btn1 {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
   .btn1:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
   .btn1:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
   .btn1:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
   .btn1:active {
    transform: scale(0.9);
   }